<!-- <footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
     
    <div class=" container p-4">

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Lorem ipsum</a>
            </li>
            <li>
              <a routerLink="./" class="">Ut facilisis</a>
            </li>
            <li>
              <a routerLink="./" class="">Aenean sit</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Suspendisse potenti</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>

      </div>

    </div>
  </div>



  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
            <a class="text-white" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

</footer> -->



<footer class="footer">
  <ul class="footer-links">
      <li><a href="https://www.unesco.org/en/disclaimer">Disclaimer of use</a></li>
      <li><a href="https://www.unesco.org/en/unesco-access-information-policy">Access to Information Policy</a></li>
      <li><a href="https://www.unesco.org/en/privacy-notice">Privacy Notice</a></li>
      <li><a href="https://www.unesco.org/en/logo-patronage">UNESCO Name & Logo</a></li>
      <li><a href="https://www.unesco.org/en/faq">FAQ</a></li>
      <li><a href="https://www.unesco.org/en/ios/report-wrongdoing">Report fraud, abuse, misconduct</a></li>
      <li><a href="https://www.unesco.org/en/scamalert">Scam alert</a></li>
      <li><a href="http://unesdoc.unesco.org/images/0026/002607/260723E.pdf">Environmental and Social Policies</a></li>
      <li><a href="https://www.unesco.org/en/legal-affairs/cr-committee/104-procedure">Protection of human rights : Procedure 104</a></li>
      <li><a href="https://core.unesco.org/en/home">Core Data Portal</a></li>
  </ul>
  <div class="footer-icons">
      <a href="https://instagram.com/unesco/" target="_blank" class="fab fa-instagram" title="Instagram"></a>
      <a href="https://twitter.com/unesco/" target="_blank" class="fab fa-twitter" title="Twitter"></a>
      <a href="https://www.facebook.com/unesco" target="_blank" class="fab fa-facebook" title="Facebook"></a>
      <a href="https://www.threads.net/@unesco" target="_blank" class="fab fa-threads" title="Threads"></a>
      <a href="http://www.youtube.com/user/unesco" target="_blank" class="fab fa-youtube" title="YouTube"></a>
      <a href="http://itunes.apple.com/us/institution/unesco-united-nations-educational/id435087097" target="_blank" class="fas fa-school" title="UNESCO United Nations Educational"></a>
      <a href="http://vk.com/unesco" target="_blank" class="fab fa-vk" title="VKontakte"></a>
      <a href="http://www.linkedin.com/company/unesco" target="_blank" class="fab fa-linkedin" title="LinkedIn"></a>
      <a href="https://www.unesco.org/en/rss.xml" target="_blank" class="fas fa-rss" title="RSS Feeds"></a>
  </div>
  <p>WWW.UNESCO.ORG</p>
</footer>
